OpenAI + Gmail.json
{
  "name": "OpenAI + Gmail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "hour": 0,
              "minute": 1
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "https://airtable.com/apph0BVHpO2ITWsun/tblaZVxT7dllP5YUy/viw77efTea67r0FfF?blocks=show",
          "mode": "url"
        },
        "tableId": {
          "__rl": true,
          "value": "https://airtable.com/apph0BVHpO2ITWsun/tblaZVxT7dllP5YUy/viw77efTea67r0FfF?blocks=show",
          "mode": "url"
        },
        "triggerField": "Name",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        0
      ],
      "id": "57a64dab-61bc-47f4-b338-6fd96bb3ff70",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "s09cCluw1CZUVzIx",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=You are responsible for customer orders. Your task is to collect incoming information and create a clear summary that will be sent via email to the team. It should be formatted as email and signed with \"Sneaker Repclub Team\". \n\n\nHere are the details of the order : \n\nFULLNAME : {{ $json.fields.Name }}\nORDER : {{ $json.fields.Orders }}\n\nPlease provide the following as output parameters\n- email subject\n- email content\n\n\nPlease Fix the email body, use new line\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -380,
        0
      ],
      "id": "9a9aeb59-d268-43c6-bd3f-3f81d5fbb902",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "EndTcpfwGqtqOw7w",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "aaronsisracon@gmail.com",
        "subject": "={{ $json.message.content.email_subject }}",
        "message": "={{ $json.message.content.email_content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -20,
        0
      ],
      "id": "374206c7-7691-44b2-ac4c-cf1b318e3016",
      "name": "Send a message",
      "webhookId": "040b30f0-b1b2-4975-92c1-21e0736fdcc7",
      "credentials": {
        "gmailOAuth2": {
          "id": "ut6b1wyhx33NwpCU",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "06a06f45-8534-446c-87a9-4a5a3a61cedd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd2a891236c23e750f8d1637f33857c6c504273c6040340b09e6cb7eb0ff8137"
  },
  "id": "JwRegbpV7hshpHOc",
  "tags": []
}